@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="d-flex justify-content-center align-items-center flex-column" style="min-height: 70vh;">
    <!-- Resim Ekleme -->
    <img src="~/images/barber.jpg" alt="Berber44 Logo" class="img-fluid mb-4" style="max-width: 300px;">

    <!-- Ana Başlık -->
    <h1 class="text-center" style="margin-bottom: 10px; font-size: 3rem;">Malatya'nın berberi Berber44'e hoş geldiniz</h1>

    <!-- Alt Metin -->
    <p class="text-center" style="margin-bottom: 20px; font-size: 1.2rem;">
        Randevu almak için giriş yapabilir ya da yeni bir hesap oluşturabilirsiniz.
    </p>

    <!-- Yapay Zekadan Öneri Al Butonu -->
    <a href="/AI/Upload" class="btn btn-outline-primary" style="font-size: 1.1rem;">
        Yapay Zekadan Öneri Al
    </a>
</div>
